@model TireListViewModel 

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, inital-scale=1" />
        <title>Tire Shop</title>
    </head>
    <body>
        <h1>@Model.CurrentCategory</h1>
        @foreach (var tire in Model.Tires)
        {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@tire.ImageThumbnailUrl" alt="image for tire shop" />
                <div class="caption">
                    @*c is for currency*@
                    <h3 class="pull-right">@tire.Price.ToString("c")</h3>
                    <h3>@tire.Name</h3>
                    <p>@tire.Description</p>

                </div>
            </div>
            <h2>@tire.Name</h2>
          

            <h4>@tire.Category.CategoryName</h4>
        </div>
        }

    </body>
    </html>